# Git Attributes
# Vim: set ft=git:

# Dude tpope wrote this ftplugin how bad ass is that?
# WHOAAAAA keywordprg is now git show!
# That's too good

# Line endings
* eol=lf text diff
text=auto diff

# File type specific line endings

*.txt		text whitespace=trailing-space,space-before-tab diff
*.rst		text whitespace=trailing-space,space-before-tab,tab-in-indent
*.yml           text diff
*.html 	        text diff


# The system knows a built-in macro attribute, binary:
*.spl binary
*.ttf binary

*.py        text diff=python whitespace=trailing-space,space-before-tab,tab-in-indent
*.ipynb     diff=python
*.ipy       diff=python
*.js        diff=javascript
*.html      diff=html
*.sh  	    text eol=lf diff
# And because this just fucked up
*.ps1 	    text  eol=input diff

# Binary files
doc/_images/* binary
*.png binary
*.doctree   binary
*.pickle    binary
*.ttf binary
*.svg binary
*.pdf binary
*.jp[e]?g binary
*.out binary
*.rock binary

# This is an odd {to say the least} regex but I got from it from M$FT themselves
# https://code.visualstudio.com/docs/remote/troubleshooting#_resolving-git-line-ending-issues-in-containers-resulting-in-many-modified-files
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

#  The system knows a built-in macro attribute, binary:
*.spl   binary
*.ttf binary

*.png   binary
*.jpg   binary
*.svg binary
*.pdf binary
*.jp[e]?g binary

*.py diff=python
*.ipy diff=python

*.sh    text eol=lf
*.vim    text eol=lf
