docutils>=0.14
flake8>=3.7.7
greenlet>=0.4.15
jedi>=0.13.3
mccabe>=0.6.1
msgpack>=0.6.1
pycodestyle>=2.5.0
pyflakes>=2.1.1
pynvim>=0.3.2
python-language-server>=0.27.0
PyYAML>=5.1.1
restructuredtext-lint>=1.3.0
vim-vint>=0.3.21
yamllint>=1.16.0
