# Git Commit Snippets
snippet init "Initial commit" b
Initial commit
endsnippet

snippet f "feat(1): 0" b
feat($1): $0
endsnippet

snippet fi "fix(1): 0" b
fix($1): $0
endsnippet

snippet d "docs(1): 0" b
docs($1): $0
endsnippet

snippet s "style(1): 0" b
style($1): $0
endsnippet

snippet r "refactor1(2): 0" b
refactor${1:($2)}: $0
endsnippet

snippet t "test(1): 0" b
test($1): $0
endsnippet

snippet c "chore(1): 0" b
chore($1): $0
endsnippet