# ============================================================================
	# File: zimwiki.snippets
	# Author: Faris Chugthai
	# Description: A description of the file below
	# Last Modified: April 25, 2019
# ============================================================================

snippet code "Transform to code block" ms
{{{code: lang=${1:"python"} linenumbers="True"
${0:${VISUAL}}
}}}
endsnippet
